<style>
    .flex-container {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
  
    }
    .flex-item {
      flex: 1;
      margin-right: 10px;
      margin-bottom: 15px;

    }

    button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #FEAC88;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  </style>
  
  <form method="post">
    {% csrf_token %}
  
    <div class="flex-container">
      <div class="flex-item">
        {{ form.numero_pessoas.label_tag }}
        {{ form.numero_pessoas }}
      </div>
      <div class="flex-item">
        {{ form.horario.label_tag }}
        {{ form.horario }}
      </div>
    </div>
  
    <br>
  
    {{ form.as_p }}
  
    <button type="submit">Criar Reserva</button>
  </form>
  